<hr>
<form action="/admin/authorise" method="POST">
  {{#if denied}}<em>You need to login, with the correct password.</em>{{/if}}
  <br>
  <label for="password">
    <strong>Password:</strong>
  </label>
  <input name="password" type="password" value="">
  <input type="submit" value="Login">
</form>
