<h2>Admin Panel &bull; Home</h2>
<hr>
<p>
  Hi admin!
</p>
<p>
  <strong>Manage:</strong>
  <a href="/admin/products">products</a> &bull;
  <a href="/admin/users">users</a> &bull;
  <a href="/admin/orders">orders</a>
</p>
<p>
  Additionally, you can <a href="/admin/logout">logout</a>.
</p>
