<a href="/admin/pages">&larr; Back</a>
<hr />
<form action="/admin/pages/add" method="post">
<label for="title">Title</label>
<input type="text" placeholder="Title of the page" name="title">
<label for="collection" >Collection</label>
<input type="text" title="The collection the page is in. (Optional)" placeholder="posts" name="collection">
<br />
<textarea name="content" class="editable"></textarea>
<br />
<input type="submit" value="Add">
</form>
<script>var editor = new MediumEditor('.editable',{
  buttonLabels:'fontawesome',
  toolbar: {
  buttons: [
    'h2',
    'h3',
    'bold',
    'italic',
    'underline',
    'anchor',
    'unorderedlist',
    'orderedlist',
    'image',
    'table',
    'removeFormat'
  ],
    static: true,
    sticky: true
  },
  extensions: {
      table: new MediumEditorTable()
  }  
});</script>
