<!DOCTYPE html>
<html>
  <head>
    <title>Home &bull; {{site.title}}</title>
    <link href="/style.css" media="all" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {{#if session.isAdmin}}
    <script src="/lib/medium-editor/js/medium-editor.min.js"></script>
    <script src="/lib/medium-editor-tables/js/medium-editor-tables.min.js"></script>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/lib/medium-editor/css/medium-editor.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/lib/medium-editor/css/themes/default.css" id="medium-editor-theme">
    <link rel="stylesheet" href="/lib/medium-editor-tables/css/medium-editor-tables.css" type="text/css" media="screen" charset="utf-8">
    {{/if}}
  </head>
  <body>
    <div id="main">
      <div class="nav">
        <a href="/">Home</a>
        &bull; <a href="/about">About</a>
        {{#if session.isAdmin}}
        &bull; <a href="/admin">Admin</a>
        {{/if}}
      </div>
      <br />
      <h1>{{site.title}}</h1>
      {{{body}}}
      <hr />
      <div id="footer">
        Made by Isaac Reid-Guest
      </div>
    </div>
  </body>
</html>
