<!DOCTYPE html>
<html>
  <head>
    <title>Home &bull; {{site.title}}</title>
    <link href="/style.css" media="all" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {{#if session.isAdmin}}
    <script src="//cdn.jsdelivr.net/medium-editor/4.11.1/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/4.11.1/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <script>var editor = new MediumEditor('.editable');</script>
    {{/if}}
  </head>
  <body>
    <div id="main">
      <div class="nav">
        <a href="/">Home</a>
        &bull; <a href="/about">About</a>
      </div>
      <br />
      <h1>{{site.title}}</h1>
      {{{body}}}
      <hr />
      <div id="footer">
        Made by Isaac Reid-Guest
      </div>
    </div>
  </body>
</html>
